{% extends "base.html" %}

{% block title %}index{% endblock %}

{% block content %}

<body>
  <div id="home" class="boxc" style="padding:60px 50px 0px 50px;">
    
    <h2 class="highlight">Introdução</h2>
    <h3>Sobre mim</h3>
    <div style="display: flex; align-items: flex-start; gap: 20px;">
      <div id="divdiv" style="flex: 1;">
        <p>
          Sou João Victor dos Reis Santos, 19 anos, de São José dos Campos. Concluí o ensino médio no Colégio José Mariotto e atualmente curso Desenvolvimento de Software Multiplataforma na FATEC.
          Sou uma pessoa proativa, criativa e com forte interesse por inovação. Busco constantemente ampliar meus conhecimentos através de experiências práticas e envolvimento acadêmico. Atualmente, sou estagiário em uma empresa de soluções em tecnologia.


        </p>
      </div>
      <div>
        <img src="./static/images/Picture.jpg" alt="Minha foto" style="width: 380px; height: auto; border-radius: 10px;">
      </div>
    </div>
  </div>

  <div id="resume" class="boxc">
    <h2 class="highlight">Resumo</h2>
    <h3>Linguagens e Ferramentas</h3>
    <div style="text-align: center;">
      <img src="./static/images/Figma_logo.gif" alt="" style="width: 50px; height: 50px;">
      <img src="./static/images/VSCode.png" alt="" style="width: 50px; height: 50px;">
      <img src="./static/images/CSS.png" alt="" style="width: 50px; height: 50px;">
      <img src="./static/images/Bootstrap.png" alt="" style="width: 50px; height: 50px;">
      <img src="./static/images/Python.gif" alt="" style="width: 50px; height: 50px;">
      <img src="./static/images/Powershell.png" alt="" style="width: 50px; height: 50px;">
      <img src="./static/images/html5.png" alt="" style="width: 50px; height: 50px;">
      <img src="./static/images/github.png" alt="" style="width: 50px; height: 50px;">
      <img src="./static/images/linux.gif" alt="" style="width: 50px; height: 50px;">
    </div>
    <h3>Formação acadêmica</h3>
    <ul>
      <li>Atualmente cursando Desenvolvimento de Software Multiplataforma na FATEC (2025-2028)</li>
      <li>Concluí o ensino médio no Colégio José Mariotto - SJC (2020-2023)</li>
    </ul>

    
  </div>

  <div id="projects" class="boxc">
      <h2 class="highlight">Meus Projetos</h2>
      <h3>Estatísticas de Exportação dos Municípios de São Paulo (API)</h3>
      <p>
        Estou atualmente envolvido em um projeto baseado em Scrum na minha instituição acadêmica, com o objetivo de desenvolver um site que apresenta dados essenciais sobre as exportações de São Paulo, Brasil, para o mercado internacional.
        Os objetivos principais da primeira sprint incluíram a criação de um protótipo funcional no Figma, o desenvolvimento de visualizações de dados responsivas usando o Google Colab, a gestão de um repositório no GitHub e a entrega das funcionalidades conforme as exigências do cliente.
      </p>
      <p>
        Na sprint inaugural, assumi o papel de Product Owner dentro de uma equipe de nove membros: um PO, um Scrum Master e seis desenvolvedores.
      </p>
      <p>
        Durante essa fase, demonstrei liderança e engajamento assumindo as seguintes responsabilidades:
      </p>
      <ul class="soft-skills-list">
        <li>Criação e manutenção dos Backlogs da Sprint e do Produto, com definição de requisitos funcionais e não funcionais.</li>
        <li>Atualização e manutenção contínua do repositório no GitHub, garantindo documentação e controle de versão.</li>
        <li>Criação e desenvolvimento do protótipo inicial no Figma, alinhado com boas práticas de experiência do usuário.</li>
        <li>Atuação como elo de ligação com o cliente, comunicando efetivamente os requisitos e feedbacks à equipe de desenvolvimento.</li>
        <li>Criação de um protótipo funcional de uma ferramenta de pesquisa dos dados</li>
      </ul>
      <p>
        Esses esforços contribuíram para o progresso bem-sucedido do projeto, alinhado às metas e prazos estabelecidos.
      </p>

      <div class="gifs">
        <img src="./static/images/Design.png" alt="" style="width: 380px; height: auto;">
        <img src="./static/images/Backlog.png" alt="" style="width: 380px; height: auto;">
        <img src="./static/images/ggithub.png" alt="" style="width: 380px; height: auto;">
      </div>
  </div>

  <div id="habs" class="boxc">
      <h2 class="highlight">Minhas Soft Skills e Habilidades</h2>
      <h3>Minhas principais Soft Skills</h3>
      <ul class="soft-skills-list">
        <li>Proatividade</li>
        <li>Autoconfiança</li>
        <li>Negociação</li>
        <li>Liderança</li>
        <li>Inteligência Emocional</li>
        <li>Delegação</li>
        <li>Comunicação Eficaz</li>
        <li>Responsabilidade</li>
      </ul>
  </div>

  <div id="docs" class="boxc">
      <h2 class="highlight">Documentações e Artigos</h2>
      <iframe src="../static/images/JOÃO V. D. R. SANTOS Curriculo.pdf" width="100%" height="600px"></iframe>
  </div>

  <div id="certs" class="boxc">
      <h2 class="highlight">Certificados e Diplomas</h2>
      <ul class="soft-skills-list">
        <li><embed src="../static/Cert/1.pdf" type="application/pdf" width="100%" height="auto" /></li>
        <li><embed src="../static/Cert/2.pdf" type="application/pdf" width="100%" height="auto" /></li>
        <li><embed src="../static/Cert/3.pdf" type="application/pdf" width="100%" height="auto" /></li>
        <li><embed src="../static/Cert/4.pdf" type="application/pdf" width="100%" height="auto" /></li>
        <li><embed src="../static/Cert/5.pdf" type="application/pdf" width="100%" height="auto" /></li>
        <li><embed src="../static/Cert/6.pdf" type="application/pdf" width="100%" height="auto" /></li>
        <li><embed src="../static/Cert/7.pdf" type="application/pdf" width="100%" height="auto" /></li>
        <li><embed src="../static/Cert/8.pdf" type="application/pdf" width="100%" height="auto" /></li>
        <li><embed src="../static/Cert/9.pdf" type="application/pdf" width="100%" height="auto" /></li>
        <li><embed src="../static/Cert/10.pdf" type="application/pdf" width="100%" height="auto" /></li>
        <li><embed src="../static/Cert/11.pdf" type="application/pdf" width="100%" height="auto" /></li>
        <li><embed src="../static/Cert/12.pdf" type="application/pdf" width="100%" height="auto" /></li>
        <li><embed src="../static/Cert/13.pdf" type="application/pdf" width="100%" height="auto" /></li>
      </ul>

  </div>

  <div id="contact" class="boxc">
      <h2 class="highlight">Contatos</h2>
      <h3>Entre em contato comigo</h3>

      <div style="display: flex; gap: 20%; justify-content: center;">
        <div class="contact-left">
          <a href="mailto:joaovictordosreissantos439@gmail.com" target="_black"></a>
            <img src="./static/images/gmail.png" class="small-img" alt="Descrição">
          </a>
        </div>

        <div class="contact-center">
          <a href="" target="_blank">
            <img src="./static/images/linkedin.png" class="small-img" alt="Descrição">
          </a>
        </div>

        <div class="contact-right">
          <a href="https://github.com/Templasan" target="_blank">
            <img src="./static/images/github.png" class="small-img" alt="Descrição">
          </a>
        </div>
      </div>
  </div>
</body>

{% endblock %}




