{% extends "base.html" %}

{% block title %}index{% endblock %}

{% block content %}

<body>
  <div id="home" class="boxc" style="padding:60px 50px 0px 50px;">
    
    <h2 class="highlight">Introdução</h2>
    <h3>Sobre mim</h3>
    <div style="display: flex; align-items: flex-start; gap: 20px;">
      <div id="divdiv" style="flex: 1;">
        <p>
          Tenho 19 anos, sou de São José dos Campos e acredito que a tecnologia não só move o mundo, mas também inspira novas formas de pensar, criar e transformar. Minha jornada começou no Colégio José Mariotto, onde concluí o ensino médio, e hoje sigo explorando o universo do desenvolvimento de sistemas na FATEC.
          Sou do tipo que gosta de ir além da superfície: gosto de conectar ideias, propor soluções e mergulhar de cabeça em tudo o que envolve inovação. Criatividade e comunicação são duas das minhas maiores aliadas — seja na hora de resolver um problema técnico ou de trabalhar em equipe.
          Atualmente, atuo como estagiário em uma empresa especializada em soluções tecnológicas, onde tenho a oportunidade de transformar aprendizado em prática todos os dias. Fora isso, estou sempre me atualizando, me desafiando e buscando evoluir como profissional e como pessoa.



        </p>
      </div>
      <div>
        <img src="./static/images/Picture.jpg" alt="Minha foto" style="width: 380px; height: auto; border-radius: 10px;">
      </div>
    </div>
  </div>

  <div id="resume" class="boxc">
    <h2 class="highlight">Resumo</h2>
    <h3>Linguagens e Ferramentas</h3>
    <div style="text-align: center;">
      <img src="./static/images/icons8-figma-100.png" alt="" style="width: 50px; height: 50px;">
      <img src="./static/images/VSCode.png" alt="" style="width: 50px; height: 50px;">
      <img src="./static/images/html5.png" alt="" style="width: 50px; height: 50px;">
      <img src="./static/images/CSS.png" alt="" style="width: 50px; height: 50px;">
      <img src="./static/images/icons8-javascript-100.png" alt="" style="width: 50px; height: 50px;">
      <img src="./static/images/icons8-python-100.png" alt="" style="width: 50px; height: 50px;">
      <img src="./static/images/icons8-c-sharp-logo-100.png" alt="" style="width: 50px; height: 50px;">
      <img src="./static/images/icons8-.net-framework-100.png" alt="" style="width: 50px; height: 50px;">
      <img src="./static/images/github.png" alt="" style="width: 50px; height: 50px;">
      <img src="./static/images/icons8-mysql-100.png" alt="" style="width: 50px; height: 50px;">
    </div>
    <h3>Formação acadêmica</h3>
    <ul>
      <li>Atualmente cursando Desenvolvimento de Software Multiplataforma na FATEC (2025-2028)</li>
      <li>Concluí o ensino médio no Colégio José Mariotto - SJC (2020-2023)</li>
    </ul>

    
  </div>

  <div id="projects" class="boxc" style="text-align: center;">
      <h2 class="highlight">Projetos</h2>
      <h3>Aplicação web de consulta e análise dos dados públicos de exportação/importações dos municípios de São Paulo.</h3>
      
      <a style="display: inline-block;" href="https://api-teste.up.railway.app/"> Link para o projeto rodando </a>
      <a style="display: inline-block;" href="https://github.com/Templasan/DSM---Projeto-de-API-1-Semestre"> Link para o repositório</a>
  <p>
    Durante a primeira sprint de um projeto acadêmico baseado na metodologia Scrum, colaborei com uma equipe multidisciplinar no desenvolvimento de uma plataforma para visualização de dados de exportações do estado de São Paulo para o mercado internacional.
  </p>
  <p>
    Minhas principais contribuições incluíram a organização e atualização dos backlogs do produto e da sprint, com foco na definição de requisitos funcionais e não funcionais. Também fui responsável por manter o repositório do GitHub, assegurando a documentação adequada e o controle de versão contínuo.
  </p>
  <p>
    Desenvolvi o protótipo inicial da aplicação no Figma, priorizando uma interface amigável e funcional. Além disso, contribuí diretamente na elaboração de uma ferramenta de busca de dados, com o uso de <strong>Pandas</strong> para tratamento das informações e <strong>Google Colab</strong> para testes e visualizações interativas.
  </p>
  <p>
    As atividades também abrangeram estudo e aplicação de <strong>SQL</strong> para consultas, limpeza de dados, expansão das buscas e representações gráficas, além da realização de pesquisas complementares envolvendo análise de sazonalidade, competitividade e comparativos entre diferentes períodos econômicos.
  </p>



      <div class="gifs">
        <img src="./static/images/Design.png" alt="" style="width: 380px; height: auto;">
        <img src="./static/images/Backlog.png" alt="" style="width: 380px; height: auto;">
        <img src="./static/images/ggithub.png" alt="" style="width: 380px; height: auto;">
      </div>
  </div>

  <div id="habs" class="boxc">
      <h2 class="highlight">Minhas Soft Skills e Habilidades</h2>
      <h3>Minhas principais Soft Skills</h3>
      <ul class="soft-skills-list">
  <li>Comunicação clara e objetiva</li>
  <li>Trabalho em equipe</li>
  <li>Pensamento lógico e matemático</li>
  <li>Organização de ideias</li>
  <li>Resolução de problemas</li>
  <li>Capacidade de argumentação e exposição de ideias</li>
  <li>Raciocínio crítico</li>
  <li>Minuciosidade e atenção aos detalhes</li>
</ul>

  </div>

  <div id="docs" class="boxc">
      <h2 class="highlight">Currículo</h2>
      <iframe src="../static/images/Curriculo.pdf" width="100%" height="600px"></iframe>
  </div>

  <div id="certs" class="boxc">
      <h2 class="highlight">Certificados e Diplomas</h2>
      <ul class="soft-skills-list">
        <li><embed src="../static/Cert/1.pdf" type="application/pdf" width="100%" height="auto" /></li>
        <li><embed src="../static/Cert/2.pdf" type="application/pdf" width="100%" height="auto" /></li>
        <li><embed src="../static/Cert/3.pdf" type="application/pdf" width="100%" height="auto" /></li>
        <li><embed src="../static/Cert/4.pdf" type="application/pdf" width="100%" height="auto" /></li>
        <li><embed src="../static/Cert/5.pdf" type="application/pdf" width="100%" height="auto" /></li>
        <li><embed src="../static/Cert/6.pdf" type="application/pdf" width="100%" height="auto" /></li>
        <li><embed src="../static/Cert/7.pdf" type="application/pdf" width="100%" height="auto" /></li>
        <li><embed src="../static/Cert/8.pdf" type="application/pdf" width="100%" height="auto" /></li>
        <li><embed src="../static/Cert/9.pdf" type="application/pdf" width="100%" height="auto" /></li>
        <li><embed src="../static/Cert/10.pdf" type="application/pdf" width="100%" height="auto" /></li>
        <li><embed src="../static/Cert/11.pdf" type="application/pdf" width="100%" height="auto" /></li>
        <li><embed src="../static/Cert/12.pdf" type="application/pdf" width="100%" height="auto" /></li>
        <li><embed src="../static/Cert/13.pdf" type="application/pdf" width="100%" height="auto" /></li>
      </ul>

  </div>

  <div id="contact" class="boxc">
      <h2 class="highlight">Contatos</h2>
      <h3>Entre em contato comigo</h3>

      <div style="display: flex; gap: 20%; justify-content: center;">
        <div class="contact-left">
          <a href="mailto:joaovictordosreissantos439@gmail.com" target="_black"></a>
            <img src="./static/images/gmail.png" class="small-img" alt="Descrição">
          </a>
        </div>

        <div class="contact-center">
          <a href="" target="_blank">
            <img src="./static/images/linkedin.png" class="small-img" alt="Descrição">
          </a>
        </div>

        <div class="contact-right">
          <a href="https://github.com/Templasan" target="_blank">
            <img src="./static/images/github.png" class="small-img" alt="Descrição">
          </a>
        </div>
      </div>
  </div>
</body>

{% endblock %}




